<div class="layout">
  <!-- Top Bar -->
  <header class="top-bar">
    <div class="logo">{{nombre}}</div>
    <div class="user-actions">
      <button class="profile-btn">Profile</button>
      <button class="logout-btn">Logout</button>
    </div>
  </header>

  <!-- Contenedor para Side Bar y Content -->
  <div class="main-container">
    <!-- Side Bar -->
    <aside class="side-bar">
      <nav class="menu">
        <a class="elemento" routerLink="/sales" routerLinkActive="active">Sales</a>
        <a class="elemento" routerLink="/inventory" routerLinkActive="active">Inventory</a>
        <a class="elemento" routerLink="/admin" routerLinkActive="active">Admin</a>
        <a class="elemento" routerLink="/products" routerLinkActive="active">Products</a>
        <a class="elemento" routerLink="/bi" routerLinkActive="active">Business Intelligence</a>
      </nav>
      <button (click)="cambiarNombre()">Botón</button>
    </aside>

    <!-- Main Content -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>