body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background: #0073e6;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.user-actions button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
}

.side-bar {
  width: 250px;
  background: #333;
  color: white;
  padding: 1rem;
  height: calc(100vh - 60px); /* Adjust for top bar height */
}

.side-bar .menu a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.side-bar .menu a.active {
  background: #0073e6;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}
.elemento{
  cursor: pointer;
}